* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    scroll-behavior: smooth;
  }
  
  .section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px; /* Add margin to create separation between sections */
  }
  
  .scrollable {
    overflow-y: scroll;
  }
  
  .scrollable::-webkit-scrollbar {
    width: 0.1em;
    background-color: transparent;
  }
  
  .scrollable::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
    border-radius: 1px;
  }
  
  .section.scrollable.disabled-justify {
    justify-content: flex-start;
  }
  
  .box {
    background-color: #FFFFFF;
    border-radius: 4px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    color: #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin: 10px;
  }
  
  /* Assign background colors to each section */
  .section:nth-child(1) {
    background-color: #FFFFFF;
  }
  
  .section:nth-child(2) {
    background-color: #FFFFFF;
  }
  
  .section:nth-child(3) {
    background-color: #FFFFFF;
  }
  
  header {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto; /* Push the footer to the bottom of the container */
  }
  
  p {
    font-size: 16px;
  }
  
  /* Media Query for mobile devices */
  @media (max-width: 800px) {
  
    .container {
      flex-direction: column;
      justify-content: center; /* Center horizontally */
      align-items: center; /* Center vertically */
      height: 100vh; /* Set container height */
    }
  
    .section {
      margin-right: 30px;
      white-space: normal;
      width: 300px; /* Adjust the width as needed */
      height: 100%;
      margin-right: 0px;
      margin-bottom: 0px;
      width: 100vw;
    }
  
    .box {
      background-color: #FFFFFF;
      padding-top: 45px;
      border-radius: 4px;
      padding: 20px;
      box-sizing: border-box;
      text-align: center;
      color: #000;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      width: 90%;
      margin: 10px;
    }
  }